@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #312a2b 16.62%, #7d7c71 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1.2rem;
}

.cabecalho-menu {
    display: flex;
    gap: 1.7rem;
    color:#FFF2E7;
}

.cabecalho-menu-item {
    font-family: 'sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    border-top: 0.05rem solid;
    margin-bottom: 5.0rem;
    color: #fff2e756;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    color: #FFF2E7;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 3rem;
    color: #FFF2E7;
}

.conteudo-principal-escrito-titulo-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: #FFF2E7;   
}

.conteudo-principal-escrito-botao  {
    background: #ECD6C4;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 11rem;
    height: 2.9rem;
    border: none;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 1.007rem;
    color: #2F2325;
}

.conteudo-principal-imagem {
    height: 25.1rem;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    margin-top: 2.7rem;
    color: #FFF2E7;
}

.conteudo-secundario-titulo {
    border-top: 0.03rem solid;
    margin-bottom: 1.1rem;
    color: #FFF2E7;
    padding-top: 2.1rem;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 23.7px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 255;
    font-size: 21px;
    color: #ECD6C4;
}

.rodape {
    padding: 37px;
    border-top: 0.05rem solid;
    margin-bottom: 5.0rem;
    color: #fff2e756;
}

.rodape-imagem {
    height: 50px;
    display: block;
    margin: 0 auto;
}

.rodape-developer {
    color: #fff2e78d;
    padding-top: 1.2rem;
    text-align: center;
    text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.507);
}